extends ../../includes/blog_layout

block link
  meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0")
  meta(name="keywords" content="javascript、nodejs、技术、前端、博客、电影、音乐")
  meta(name="description" content="个人站点")
  link(href="/libs/css/blog/blog_index.min.css",rel="stylesheet")
block content
  // 容器标签节点
  .container       
    .row
      .col-md-3
        div(class="header")
        div(class="bg-cover-mask")
        div(class="panel-main")
            div(class="panel-main__inner panel-inverted")
                div(class="panel-main__content")
                    div(class="ih-item circle effect right_to_left")  
                        a(href="/blog" title="前往 maydays 的主页", class="blog-button")
                            div(class="logo")
                                img(src="/libs/images/blog/logo.png" alt="img")
                    h1(class="panel-cover__title panel-title")
                        a(href="/blog" title="link to homepage for maydays", class="blog-button") Maydays
                    span(class="panel-cover__subtitle panel-subtitle") 个人站		
                    hr(class="panel-cover__divider")
                    p(class="panel-cover__description") 欢迎来到我的个人站~
                    hr(class="panel-cover__divider panel-cover__divider--secondary")
                    div(class="navigation-wrapper")
                    div
                        nav(class="cover-navigation cover-navigation--primary")
                            ul(class="navigation")
                                li(class="navigation__item")
                                    a(href="/blog",title="",class="blog-button") 博客主页		
                                li(class="navigation__item")
                                    a(href="/movie",title="archive") 豆瓣电影	
                                li(class="navigation__item")
                                    a(href="/musicIndex",title="tags") 豆瓣音乐
                                li(class="navigation__item")
                                    a(href="/about",title="about") 关于我
                    
      .col-md-1
      .col-md-8
        div
          each item in blogs
            .panel.panel-primary
              .panel-body
                if item.blog && item.length > 0
                ul.blog-index
                    li
                      a(href="/blog/#{item._id}") 
                        h4 #{item.title}
                        p(style="text-overflow:ellipsis;height:120px;overflow:hidden;") #{item.content}
                        span(class="left") #{item.author} &nbsp;|&nbsp;
                        span(class="left") 访问量#{item.pv}&nbsp;|&nbsp;
                        a(class="left",href="/blog/#{item._id}") 阅读全文 >>
                            span(class="right") #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
        ul.pagination
            li
                a(href="/blog?p=#{index/2-1}" aria-label="Previous")
                    span(aria-hidden="true") &laquo;上一页
            li 
                a(href='/blog?p=#{i}') 
                    span(aria-hidden="true") #{index/2 + 1}
            li
                a(href="/blog?p=#{index/2+1}" aria-label="Next")
                    span(aria-hidden="true") 下一页&raquo;



